<div class="flex flex-col w-screen h-screen">
  <div class="w-full mb-4 bg-indigo-500 h-14 fixed">
    <div
      class="flex text-white w-full h-full justify-between items-center px-4">
      <div>Akita Wallet</div>
      <div class="">Money: €5868.885</div>
    </div>
  </div>
  <div class="container mx-auto mt-20">
    <div id="list" class="w-full">
      <div class="grid grid-cols-4 gap-6">
        <div
          id="item"
          class="px-4 py-2 border border-indigo-300 rounded"
          *ngFor="let coin of allCoins$ | async">
          <div id="symbol" class="">{{ coin.symbol }}</div>
          <div id="name" class="">{{ coin.name }}</div>
          <div id="actions" class=""></div>
        </div>
      </div>
    </div>
    <!-- <div class="" *ngFor="let user of users$ | async">
      {{ user.name }}
    </div> -->
  </div>
</div>
